.form {
  text-align: center;

  flex-direction: column;

  width: 100%;
  height: 100%;
}

input {
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 7px;
}
input:hover {
  border: solid 2px;
}

.login-button {
  cursor: pointer;
  background-color: rgba(104, 85, 224, 1);
  border-radius: 15px;
  border: solid 2px;
  height: 40px;
  width: 75px;
  font-weight: 600;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}

.login-button:hover {
  background-color: white;
}

label {
  font-weight: 600;
}
.label-login-form {
  color: black;
}
